@charset "utf-8";

@import "~bulma/bulma";

html, body {
  height: 100%;
  background-color: rgb(17, 5, 99);
}

#wrapper {
  min-height: 100%;
}

.is-half {
  background-color: rgb(28, 84, 144);
  //opacity: 10%;
}

.weather-icon {
  border-radius: 5px;
  height: 30vh;
  background-color: rgb(124, 196, 238);
}